API_ID="24490919"
API_HASH="d1b3b15126c47dd4cb491553ee1db910"
BOT_TOKEN="6180267295:AAEEBOxE-yqMmfPJ8qO_r6l1-wefrgrSmDc"
MONGO_DB_URI="mongodb+srv://main:amjiddader@main.dzqbydj.mongodb.net/?retryWrites=true&w=majority&appName=main"
LOG_GROUP_ID="-1002066704872"
MUSIC_BOT_NAME=" Ami x Music"
AUTO_LEAVING_ASSISTANT=True
ASSISTANT_LEAVE_TIME=5400
UPSTREAM_REPO="https://github.com/Mrcutex1/alexa-aip"
GIT_TOKEN=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
SUPPORT_GROUP="https://t.me/+JoSPjg4d91QzMWNl"
SUPPORT_CHANNEL="https://t.me/Ace_networkop"
STRING_SESSION="BQAA9-QAc_R9CSadI1L1Fgs59D9WRq9LyyiED-hpxBdO1YSMsSCXcxsY4uM70bmKvb_CWk6WnkrwHuOzlblrkk8B-_GiA-QS1zDKvgmDRBLW7_oR7TH26Jj6IK52BbNjAnl8EEoUdnpGc-TFj-N4TaWfPJOEqo2_wNzdDY16EjWnEhSiM_NVgRYrLx94mu5JIjBvTerC2egR5cRdfUK2Rh1W-u_AtHFs-1RGkCX0YiHSLytghE-WvkC7pem-cs91cDhvPfeAI4SAnyqXOhF4M21i84mEXXpw3VH-5dxN4z1TIyXxLXa1PFMOMU5fdVqx42mcCu-DRPge4c-JNJ9xUB4b5Rp9qgAAAAHVVqQHAA"
OWNER_ID=5111294407
